<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/radio"
        android:label="@string/app_name"
        android:roundIcon="@drawable/radio"
        android:supportsRtl="true"
        android:theme="@style/Theme.PPLM"
        tools:targetApi="31">
        <activity
            android:name=".tugas10.roomdatabase.SqlActivity"
            android:exported="false" />
        <activity
            android:name=".tugas10.datastore.DataStoreActivity"
            android:exported="false" />
        <activity
            android:name=".tugas9.gestur3.GesturKetigaActivity"
            android:exported="false" />
        <activity
            android:name=".tugas9.gestur2.GesturDuaActivity"
            android:exported="false" />
        <activity
            android:name=".tugas9.gestur1.GesturSatuActivity"
            android:exported="false" />
        <activity
            android:name=".tugas8.coroutine.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".tugas8.asynctask.AsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name=".tugas8.services.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".tugas7.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".tugas7.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".tugas6.recycleviewlist.MainRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".tugas6.MainListViewActivity"
            android:exported="false" />
        <activity
            android:name=".tugas5.MainNavDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".tugas5.horizontalSview.MainHViewActivity"
            android:exported="false" />
        <activity
            android:name=".tugas5.MainvPagerActivity"
            android:exported="false" />
        <activity
            android:name=".tugas5.MainFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- penambahan kelas -->
        <receiver
            android:name=".tugas7.utils.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".tugas8.services.MyIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".tugas4.CustomTable"
            android:exported="false" />
        <activity
            android:name=".tugas3.FrameLayout"
            android:exported="false" />
        <activity
            android:name=".tugas3.LinearLayout"
            android:exported="false" />
        <activity
            android:name=".tugas3.ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".tugas3.RelativeLayout"
            android:exported="false" />
        <activity
            android:name=".tugas4.KalkulatorBalok"
            android:exported="false" />
        <activity
            android:name=".tugas4.ActivityPertama"
            android:exported="false" />
        <activity
            android:name=".tugas4.ActivityKedua"
            android:exported="false" />
        <activity
            android:name=".tugas6.recycleviewlist.DetailDosen"
            android:exported="false" />
    </application>

</manifest>